<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384718898184-9l4k0eetil48q090ntprog9nr9vvtlrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384718898184-9l4k0eetil48q090ntprog9nr9vvtlrg</string>
	<key>API_KEY</key>
	<string>AIzaSyB2fnqs3OX4RZMYoWN0s8QFGqib-wm4mIg</string>
	<key>GCM_SENDER_ID</key>
	<string>384718898184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>blazebrain-one</string>
	<key>STORAGE_BUCKET</key>
	<string>blazebrain-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384718898184:ios:a07492314886f15e8a7dbd</string>
</dict>
</plist>